name_prefix               = "azinv-dev"
location                  = "eastus"
ssh_source_address_prefix = "YOUR_PUBLIC_IP/32"
vm_size                   = "Standard_D2s_v3"
availability_zone         = "3"
admin_username            = "azureuser"
admin_password            = "REPLACE_WITH_STRONG_PASSWORD"
